body {
 font-family: Arial, sans-serif;
 background-image: url("https://github.com/o-Erebus/Validated-File-Upload-React-Flask/blob/master/frontend/src/Img/hospital_background.jpg");
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 margin: 0;
 padding: 0;
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 padding-top: 50px; /* Padding to the top of the container */
}
.App {
 max-width: 500px;
 padding: 70px;
 border-radius: 10px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
input[type="date"],
input[type="time"],
input[type="file"],
button {
 width: 100%;
 margin-bottom: 20px;
 padding: 15px;
 border-radius: 8px;
 border: none;
 background-color: #f0f0f0;
 font-size: 16px;
}
input[type="date"]:focus,
input[type="time"]:focus,
input[type="file"]:focus,
button:focus {
 outline: none;
 box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
input[type="file"] {
 padding-top: 20px;
}
button {
 background-color: #007bff;
 color: #fff;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.3s ease;
}
button:hover {
 background-color: #0056b3;
}
progress {
 width: 100%;
 margin-bottom: 20px;
}
span {
 display: block;
 margin-top: 10px;
 color: red;
 font-size: 14px;
 padding:15px
}
